html {
    -webkit-user-select: none;
}
button {
    -webkit-app-region: no-drag;
}
body{
    border: thin solid blue;
}
#root{
    height: 100%;
}
.top-bar {
    color: #00bbff;
    padding: 10px;
    background: rgba(255, 124, 0, 0.44);
    -webkit-app-region: drag;
}

.menu-bar {
    color: #ffbbbb;
    background: salmon;
}