html {
  -webkit-user-select: none;
}

button {
  -webkit-app-region: no-drag;
}

#root {
  height: 100%;
}

.top-logo {
}

.menu-bar {
  color: #ffbbbb;
  background: salmon;
}

.ant-layout-sider-collapsed {
  .anticon {
    font-size: 16px;
  }
  .nav-text {
    display: none;
  }
}